<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DecisionAssist.Properties.Settings.RDSADDConnectionString" connectionString="Data Source=IMRAN;Initial Catalog=RDSADD;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DecisionAssist.Properties.Settings.DAssistConnectionString" connectionString="Data Source=IMRAN;Initial Catalog=DAssist;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RDSADDEntities" connectionString="metadata=res://*/Properties.DataSources.Model1.csdl|res://*/Properties.DataSources.Model1.ssdl|res://*/Properties.DataSources.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDSADDEntitiesdemon" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDSADDEntities1" connectionString="metadata=res://*/checklistmodel.csdl|res://*/checklistmodel.ssdl|res://*/checklistmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDSADDEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FRmodelEntity" connectionString="metadata=res://*/FRModel1.csdl|res://*/FRModel1.ssdl|res://*/FRModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DconstEntity" connectionString="metadata=res://*/DcontModel.csdl|res://*/DcontModel.ssdl|res://*/DcontModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DcEntity" connectionString="metadata=res://*/DCModel.csdl|res://*/DCModel.ssdl|res://*/DCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDSADDEntities3" connectionString="metadata=res://*/DConstModel.csdl|res://*/DConstModel.ssdl|res://*/DConstModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DconcernsEntity" connectionString="metadata=res://*/DesignConcerns.csdl|res://*/DesignConcerns.ssdl|res://*/DesignConcerns.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=RDSADD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DAssistDesignConcernEntities" connectionString="metadata=res://*/DesignConcernModel.csdl|res://*/DesignConcernModel.ssdl|res://*/DesignConcernModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=DAssist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DAssistEntities" connectionString="metadata=res://*/QGModel.csdl|res://*/QGModel.ssdl|res://*/QGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DAssist.mdf;initial catalog=DAssist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArtiEntity" connectionString="metadata=res://*/Modelartifact.csdl|res://*/Modelartifact.ssdl|res://*/Modelartifact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMRAN;initial catalog=DAssist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecisionAssist.Properties.Settings.DAssistConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\DAssist.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DecisionAssist.Properties.Settings.DAssistConString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DAssist.mdf;Initial Catalog=DAssist;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>